.services {
  padding: 80px 20px;
  text-align: center;
  color: #fff;

  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

/* Card */
.service-card {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(15px);

  padding: 25px;
  margin: 20px auto;
  border-radius: 15px;
  max-width: 400px;

  border: 1px solid rgba(0, 255, 255, 0.3);

  box-shadow: 0 0 20px rgba(0, 255, 255, 0.2);
}

/* Heading */
.service-card h3 {
  color: #00ffff;
}

/* Text */
.service-card p {
  color: #ddd;
  font-size: 15px;
}

/* Hover Effects */
.service-card:hover {
  transform: translateY(-8px);
  transition: 0.3s;
  box-shadow: 0 0 40px rgba(0, 255, 255, 0.6);
}